/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text__shadow-color: #ff0070;
  --section__title-color: #353430;
  --title-text-color: #353430;
  --header__rec__color: transparent;
  --text-color: #353430;
  --header-footer-title-color: #ffc2e6;
  --hover: rgba(50, 49, 45, 0.4);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text__shadow-color: #ff0070;
    --section__title-color: #353430;
    --title-text-color: #353430;
    --header__rec__color: transparent;
    --text-color: #353430;
    --header-footer-title-color: #ffc2e6;
    --hover: rgba(50, 49, 45, 0.4);
  }
}
